html {
    scroll-behavior: smooth;  /* 让页面平滑的滚动 */    
}
body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 16px/1.5 PingFangSC-regular,Tahoma,Lucida Grande,Verdana,Microsoft Yahei,STXihei,hei;
    color: #000;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -moz-user-select: none;
    background: #f4f4f4;
    /* scroll-behavior: smooth; */
}

a {
    text-decoration: none;
    color: #222;    
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
div {
    box-sizing: border-box;
}
        /* 返回顶部模块 */
.goBack {
    display: none;
    position: absolute;
    bottom: 20px;
    right: 0;
    height: 39px;
    width: 39px;
    background-color: pink;
    border-radius: 50%;
    background: url(../images/back.png) no-repeat 50% 50%;
    z-index: 5;
    opacity: .5;
}
          /* 搜索模块 */
.search-index {
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    /* 固定定位的盒子必须有宽度 */
    transform: translate(-50%);
    width: 100%;
    max-width: 540px;
    min-width: 320px;
    height: 44px;
    background-color: #F6F6F6;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    z-index: 999;
}
.search {
    position: relative;
    flex: 1;
    height: 32px;
    font-size: 12px;
    color: #666;
    padding-left: 25px;
    line-height: 32px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    margin: 6px 10px 0;
}
.search::before {
    content: '';
    position: absolute;
    top: 9px;
    left: 9px;
    width: 15px;
    height: 15px;
    background: url(../images/sprite.png) no-repeat -59px -279px;
    background-size: 104px auto;
}
.user {
    width: 44px;
    height: 50px;
    font-size: 12px;
    color: #2eaae0;
    text-align: center;
    /* background-color: skyblue; */
}
.user::before {
    content: '';
    display: block;
    width: 23px;
    height: 23px;
    background: url(../images/sprite.png) no-repeat -59px -194px;
    background-size: 104px auto;
    margin: 5px auto 0;
}
.focus {
    position: relative;
    padding-top: 44px;
    overflow: hidden;
}
.focus ul {
    width: 500%;
    margin-left: -100%;
    overflow: hidden;
    /* transition: 1s all; */
}
.focus ul li {
    float:  left;
    width: 20%;
}
.focus img{
    width: 100%;
    height: 100%;
}
.focus ol {
    position: absolute;
    bottom: 5px;
    right: 5px;
    margin: 0;
}
.focus ol li {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #fff;
    list-style: none;
    border-radius: 2px;
    transition: all .3s;
}
.focus ol .current {
    width: 15px;
}

       /* 局部导航栏 */
.local-nav {
    display: flex;
    /* align-items: center; */
    height: 64px;
    background-color: #fff;
    border-radius: 8px;
    margin: 3px 4px;
}
.local-nav li {
    flex: 1;
    list-style: none;
}
.local-nav li a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.local-nav-icon {
    width: 32px;
    height: 32px;
    margin-top: 8px;
    background-color: pink;
    background: url(../images/localnav_bg.png) no-repeat 0 0;
    background-size: 32px auto;
}
.local-nav .icon1 {
    background: url(../images/localnav_bg.png) no-repeat 0px -32px;
    background-size: 32px auto;
}
.icon2 {
    background: url(../images/localnav_bg.png) no-repeat 0 -64px;
    background-size: 32px auto;
}
.icon3 {
    background: url(../images/localnav_bg.png) no-repeat 0 -96px;
    background-size: 32px auto;
}
.icon4 {
    background: url(../images/localnav_bg.png) no-repeat 0 -128px;
    background-size: 32px auto;
}
        /* nav栏 */

nav {
    overflow: hidden;
    border-radius: 8px;
    margin: 0 4px 3px;
}
.box {
    display: flex;
    justify-content: center;
    height: 88px;
    background: -webkit-linear-gradient(left,#fa5a55,#fa994d);
}

.box:nth-child(-n+2) {
    margin-bottom: 3px;
}

.nav-items {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.nav-items:nth-child(1) a {
    background: url(../images/hotel.png) no-repeat bottom center;
    background-size: 121px auto;
}
.jp:nth-child(1) a {
    background: url(../images/hotel.png) no-repeat bottom center;
    background-size: 121px auto;
}
.ly:nth-child(1) a {
    background: url(../images/hotel.png) no-repeat bottom center;
    background-size: 121px auto;
}

.nav-items:nth-child(-n+2) {
    border-right: 1px solid #fff;
}

.nav-items a {
    flex: 1;
    text-align: center;
    line-height: 44px;
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, .2);
    /* 文字阴影 */
}

.nav-items a:nth-child(1) {
    border-bottom: 1px solid #fff;
}

.subnav {
    display: flex;
    flex-flow: wrap;
    border-radius: 8px;
    margin: 0 4px 3px;
    background-color: #fff;
    box-shadow: 2px 2px rgba(0, 0, 0, .2);
}
.items {
    flex: 20%;
}
.subnav a {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
}
.xt {
    width: 28px;
    height: 28px;
    background: url(../images/subnav-bg.png) no-repeat 2px 5px;
    background-size: 24px auto;
    /* background-color: skyblue; */
}
.subnav-icon1 {
    background: url(../images/subnav-bg.png) no-repeat 2px -23px;
    background-size: 24px auto;
}
.subnav-icon2 {
    background: url(../images/subnav-bg.png) no-repeat 2px -51px;
    background-size: 24px auto;
}
.subnav-icon3 {
    background: url(../images/subnav-bg.png) no-repeat 2px -79px;
    background-size: 24px auto;
}
.subnav-icon4 {
    background: url(../images/subnav-bg.png) no-repeat 2px -107px;
    background-size: 24px auto;
}
.subnav-icon5 {
    background: url(../images/subnav-bg.png) no-repeat 2px -135px;
    background-size: 24px auto;
}
.subnav-icon6 {
    background: url(../images/subnav-bg.png) no-repeat 2px -163px;
    background-size: 24px auto;
}
.subnav-icon7 {
    background: url(../images/subnav-bg.png) no-repeat 2px -191px;
    background-size: 24px auto;
}
.subnav-icon8 {
    background: url(../images/subnav-bg.png) no-repeat 2px -216px;
    background-size: 24px auto;
}
.subnav-icon9 {
    background: url(../images/subnav-bg.png) no-repeat 5px -242px;
    background-size: 24px auto;
}

/* 销售模块 */

.sales-box {
    border-top: 1px solid #bbb;
    background-color: #fff;
    margin: 4px;
}
.sales-hd {
    position: relative;
    height: 44px;
    border-bottom: 1px solid #ccc;
    /* background-color: pink; */
}
.sales-hd h2 {
    position: relative;
    overflow: hidden;
    text-indent: -999px;
}
.sales-hd h2::after {
    content: '';
    display: block;
    position: absolute;
    top: 8px;
    left: 20px;
    width: 79px;
    height: 15px;
    background: url(../images/hot.png) no-repeat 0 -20px;
    background-size: 79px auto;
    /* background-color: pink; */
}
.sales-hd a {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 20px;
    width: 130px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background: -webkit-linear-gradient(left,#ff506c,#ff6bc6);
    border-radius: 30px;
}
.sales-hd a::after {
    content: '';
    position: absolute;
    top: 6px;
    right: 12px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}
.row {
    display: flex;
}
.row a {
    flex: 1;
    border-bottom: 1px solid #eee;
}
.row a:nth-child(1) {
    border-right: 1px solid #eee;
}
.row a img {
    width: 100%;
}